<!DOCTYPE html>
<html>
  <head>
    <title>Cafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="home" class="big-bg">
      <header class="page-header wrapper">
        <h1>Cafe</h1>
        <nav>
          <ul class="main-nav">
            <% if user_signed_in? %>
              <li>
                <%= link_to '投稿フォーム', new_cafe_image_path %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>

      <div class="home-content wrapper">
        <h2 class="page-title">Cafe</h2>
        <p>お気に入りのカフェの写真を投稿してシェアしましょう。</p>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
